apiVersion: 1

datasources:
  - name: InfluxDB-TEP
    uid: influxdb-tep
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: appdb
    user: admin
    secureJsonData:
      password: __INFLUXDB_ADMIN_PASSWORD__
    jsonData:
      httpMode: GET
      timeInterval: 1s
    editable: true
